@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;

}
:root {
  --offcanvas-width: 270px;
    --uparwala:56px;
	
}
#offcanvasExample{
width:var(--offcanvas-width);
}
@media (min-width:992px){
	body {
    overflow: auto !important;
      }
	.offcanvas-backdrop::before {
    display: none;
	 }
  main{
	  margin-left: var(--offcanvas-width);
	  }
	   #offcanvasExample{
		transform: none;
		visibility: visible !important;
		top:var(--uparwala);
		height:calc(100%-var(--uprwala));
      }
}				  
.mt-6{
	margin-top:60px;
	}
